@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Dashboard Tổng quan";
}

<div id="module-container">
    <!-- Modules -->
    <partial name="Partials/Modules/_OverviewModule" />
    <partial name="Partials/Modules/_MotelsModule" />
    <partial name="Partials/Modules/_GlobalServicesModule" />
    <partial name="Partials/Modules/_MotelSetupModule" />
    <partial name="Partials/Modules/_RoomDetailsModule" />
    <partial name="Partials/Modules/_TenantsModule" />
    <partial name="Partials/Modules/_ContractsModule" />
    <partial name="Partials/Modules/_BillingModule" />
    <partial name="Partials/Modules/_RequestsModule" />
    <partial name="Partials/Modules/_AdminMgmtModule" />
</div>

<!-- Modals -->
<partial name="Partials/Modals/_TenantModals" />
<partial name="Partials/Modals/_MotelServiceModals" />
<partial name="Partials/Modals/_ContractModals" />
<partial name="Partials/Modals/_BillingModals" />
<partial name="Partials/Modals/_RequestModals" />

@section Scripts {
    <script src="~/js/modules/admin/global-services.js" asp-append-version="true"></script>
    <script src="~/js/modules/admin/contracts.js" asp-append-version="true"></script>
    <script src="~/js/modules/admin/tenants.js" asp-append-version="true"></script>
    <script src="~/js/modules/admin/billing.js" asp-append-version="true"></script>
    <script src="~/js/modules/admin/requests.js" asp-append-version="true"></script>
    <script src="~/js/modules/admin/motels-floormap.js" asp-append-version="true"></script>
    <script src="~/js/modules/admin/room-details.js" asp-append-version="true"></script>
    <script src="~/js/modules/admin/dashboard-overview.js" asp-append-version="true"></script>
    <script src="~/js/modules/admin/admin-mgmt.js" asp-append-version="true"></script>
}
